In [1]:
#!pip install statsmodels
#!pip install stargazer

In [2]:
import pandas as pd
import statsmodels.formula.api as sm
from stargazer.stargazer import Stargazer
from causaldata import restaurant_inspections

In [3]:
res = restaurant_inspections.load_pandas().data

In [4]:
res.head()

,business_name,inspection_score,Year,NumberofLocations,Weekend
0,MCGINLEYS PUB,94,2017,9,False
1,VILLAGE INN #1,86,2015,66,False
2,RONNIE SUSHI 2,80,2016,79,False
3,FRED MEYER - RETAIL FISH,96,2003,86,False
4,PHO GRILL,83,2017,53,False

In [5]:
print(restaurant_inspections.DESCRLONG)

The restaurant_inspections data contains data on restaurant health inspections performed in Anchorage, Alaska. This data set is used in the Regression chapter of The Effect.

In [6]:
print(restaurant_inspections.NOTE)

::
    Number of observations - 27178
    Number of variables - 5
    Variables name definitions::
            business_name - Name of restaurant/chain
            inspection_score - Health Inspection Score
            Year - Year of inspection
            NumberofLocations - Number of locations in restaurant chain
            Weekend - Was the inspection performed on a weekend?

### Models

In [7]:
#first with one regressor

m1 = sm.ols(formula = 'inspection_score ~ NumberofLocations',
            data = res).fit()

In [10]:
#second add year as control

m2 = sm.ols(formula = 'inspection_score ~ NumberofLocations + Year',
            data = res).fit()

In [14]:
#file to write results

f = open('regression_table', 'w')

regtable = Stargazer([m1,m2])
f.write(regtable.render_html())
f.close

In [24]:
regtable.custom_columns(['Model 1', 'Model 2'], [1, 1])
regtable